@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	/* background: #2c3e50; */
	/* background: #37003c; */
	background: white;
}



nav{
	position: relative;
	margin: 0px auto 0;
	width: 470px;
	height: 55px;
	/* background: #34495e; */
	/* background: #37003c; */
	background: #37003c;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav .logoo a:nth-child(1) {
	width: 0px;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	
	height: 5px;
	
	bottom: 0;
	z-index: 0;
	background: #2d2c28;
	border-radius: 8px;
	transition: all .5s ease 0s;
}


nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}



.item_logo {
    height: 30px;
}
.logo {
	
	left: 0px;
	right: 0px;
	height: 50px;
	margin-bottom: 20px;
	
}


.bunes {
	height: 50px;
	display: flex;
	justify-content:space-evenly;
	list-style: none;	
}



.tab-pane {
	color: black;
	display: none;
  }
  .tab-pane.active {
	display: block;
	/* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZgHnPzJvHXaTvagv1vmTKeSpCnAdcGKpzKQ&usqp=CAU); */
	
  }

  .tab-item:hover {
	opacity: 1;
	background-color: rgba(194, 53, 100, 0.05);
	border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
	opacity: 1;
  }

  .tabs {
	  margin-top: 50px;
	display: flex;
	position: relative;
	background-color: #37003c;
    background-image: url(https://www.premierleague.com/resources/prod/v6.92.0-3875/i/bg-elements/heading-bg-desktop.svg);
  }
  .tabs .line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 6px;
	border-radius: 15px;
	/* background-color: #c23564; */
	background-color: black;
	transition: all 0.2s ease;
  }
  .tab-item {
	/* min-width: 80px; */
	padding: 10px 10px 10px 10px;
	height: 25px;
	width: 500px;
	/* font-size: 20px; */
	text-align: center;
	/* color: #c23564; */
	color: white;
	/* background-color: #fff; */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 5px solid transparent;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.5s ease;
  }


.tr_ratings_premier {
	border-bottom: 0.5px solid black;
}
.table_ratings_premier {
	/* left: 50px;
	right: 50px; */
	/* width: 100%; */
	/* text-align: center; */
	/* margin-left: 30px;
	margin-right: 30px; */
	/* width: 1400px; */
	width: 750px;
	margin-left: 354px;
	border-collapse: collapse;
	margin-top: 30px;
	/* margin: 30px auto; */
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.th_ratings_premier, .td_ratings_premier {
	/* padding: 15px 30px; */
	padding: 15px 15px;
	text-align: center;
}



.tab-pane-result {
	color: black;
	display: none;
  }
  .tab-pane-result.active {
	display: block;
  }

  .tab-item-result:hover {
	opacity: 1;
	background-color: rgba(194, 53, 100, 0.05);
	border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item-result.active {
	opacity: 1;
  }

  .tabs-result {
	  margin-top: 0px;
	display: flex;
	position: relative;
	/* background-image: url(./assets/css/img/premier-bar.jpg); */
  }
  .tabs-result .line-result {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 6px;
	border-radius: 15px;
	background-color: #c23564;
	transition: all 0.2s ease;
  }
  .tab-item-result {
	/* min-width: 80px; */
	padding: 10px 10px 10px 10px;
	height: 25px;
	width: 500px;
	/* font-size: 20px; */
	text-align: center;
	color: #c23564;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 5px solid transparent;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.5s ease;
  }





  /* lịch thi đấu */

  .tab-pane-calendar {
	color: black;
	display: none;
  }
  .tab-pane-calendar.active {
	display: block;
  }

  .tab-item-calendar:hover {
	opacity: 1;
	background-color: rgba(194, 53, 100, 0.05);
	border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item-calendar.active {
	opacity: 1;
  }

  .tabs-calendar {
	  margin-top: 0px;
	display: flex;
	position: relative;
	/* background-image: url(./assets/css/img/premier-bar.jpg); */
  }
  .tabs-calendar .line-calendar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 6px;
	border-radius: 15px;
	background-color: #c23564;
	transition: all 0.2s ease;
  }
  .tab-item-calendar {
	/* min-width: 80px; */
	padding: 10px 10px 10px 10px;
	height: 25px;
	width: 500px;
	/* font-size: 20px; */
	text-align: center;
	color: #c23564;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 5px solid transparent;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.5s ease;
  }




	/* thống kê */
	.tab-pane-statistical {
		color: black;
		display: none;
	  }
	  .tab-pane-statistical.active {
		display: block;
	  }
	
	  .tab-item-statistical:hover {
		opacity: 1;
		background-color: rgba(194, 53, 100, 0.05);
		border-color: rgba(194, 53, 100, 0.1);
	  }
	  .tab-item-statistical.active {
		opacity: 1;
	  }
	
	  .tabs-statistical {
		  margin-top: 0px;
		display: flex;
		position: relative;
		/* background-image: url(./assets/css/img/premier-bar.jpg); */
	  }
	  .tabs-statistical .line-statistical {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 6px;
		border-radius: 15px;
		background-color: #c23564;
		transition: all 0.2s ease;
	  }
	  .tab-item-statistical {
		/* min-width: 80px; */
		padding: 10px 10px 10px 10px;
		height: 25px;
		width: 500px;
		/* font-size: 20px; */
		text-align: center;
		color: #c23564;
		background-color: #fff;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: 5px solid transparent;
		opacity: 0.6;
		cursor: pointer;
		transition: all 0.5s ease;
	  }
	


	  .thead_result_premier {
		height: 50px;
		
	}
	
	.tr_result_premier {
		text-align: center;
		transition: all .2s ease-in;
		cursor: pointer;
		height: 50px;
		border-bottom: 0.1px solid black;
	}
	
	
	.tr_result_premier:hover {
		background-color: #f5f5f5;
			transform: scale(1.02);
			box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);

	}
	
	.table_result_premier {
			/*   */
		border-collapse: collapse;
		width: 90%;
		margin-left: 70px;
		/* box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2); */
		
	}
	
	
	 .td_result_name_club_premier {
		text-align: center;;
		width: 150px;
	}
	
	
	.td_result_score_premier {
		/* height: 10px;	 */
		border: 10px solid white;
		background-color:#37003c;
		width: 50px;
		color: white;
		border-radius: 300px;
		
		
	}
	
	
	
	.div_name_club_and_icon_premier {
		display: flex;
		align-items: center;
		gap: 0 10px;
		justify-content: center;
		
	}
	
	
	
	.td_result_name_club_premier {
		vertical-align: middle;
	}
	
	.img_club_result_premier {
		height: 20px;
		width: 20px;
	}
	
.div_explane_1 {
	width: 65px;
	height: 50px;
	background-color: red;
	margin-top: -900px;
    margin-left: 50px;
	gap: 0 90px

}