@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	/* background: #2c3e50; */
	/* background: #37003c; */
	background: white;
}
nav{
	position: relative;
	margin: 0px auto 0;
	width: 470px;
	height: 55px;
	/* background: #34495e; */
	/* background: #37003c; */
	background: #961e23;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.logo {
	/* background-color:aliceblue; */
	/* background: whitesmoke; */
	left: 0px;
	right: 0px;
	height: 50px;
	margin-bottom: 20px;
	
}

.logo-ratings {
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: white;
}
.bunes {
	/* background-color: whitesmoke; */
	/* left: 0px;
	right: 0px; */
	height: 50px;
	display: flex;
	justify-content:space-evenly;
	list-style: none;	
}

.bunes-ratings {
	margin-left: 0px;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.list-ratings-image {
	height: 25px;
	
}
.news-body {
	margin-top: 20px;
	width: 730px;
	height: 92px;
	/* background: #37003c; */
	background: #961e23;
	margin: 20px auto 0;
}

.news-main	 {
	margin-top: 20px;
	/* width: 970px; */
	left: 0px;
	right: 0px;
	/* width: 1472px; */
	height: 660px;
	
	/* background:#141719	; */
	background: #961e23;
	
}

.layout-image {
	height: 500px;
	width: 500px;
	
	
}
.layout-main {
	height: 400px;
	width: 1100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	float: right;
	margin-top: 80px;
}
.ratings {
	margin-top: -500px;
	margin-left: 50px;
	width: 270px;
	height: 955px;
	background: white;
	/* float: left; */
	border-radius: 8px;
	text-align: center;
}
/* .temp { */
	/* margin-top: 85px;
	margin-left: 15px; */
	/* height: 5px;
	width: 250px;
	background: #cb32c1;
} */
.layout {
	width: 400px;
	height: 400px;
}

.layout-image-news {
	font-size: 20px;
	color: #000;
	/* background-color: aliceblue; */
	/* list-style: none; */
}

.layout-image-news-list {
	color: #000;
}
.first-news {
	float: right;
}
.Man {
	height: 500px;
	width: 500px;
}
.img-news_main {

	height: 500px;
	width: 500px;
	/* display:grid;
	grid-template-columns: 100px 100px;
	grid-column-gap: 40px; */
	/* background: #cb32c1; */
	margin-left: 350px;
	margin-right: 30px;
	margin-top: 60px;
}

.img-news_main_list {
	list-style: none;
	
	display: flex;
	justify-content:space-evenly;
}


nav .logoo a:nth-child(1) {
	width: 0px;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	
	height: 5px;
	
	bottom: 0;
	z-index: 0;
	background: #2d2c28;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}
